@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.categoryGrid {
  width: 100%;
  margin: $space-lg auto $space-md;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $space-lg;

  @include respond-lg {
    grid-template-columns: repeat(3, 1fr);
    
  }

  @include respond-md {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-sm {
    grid-template-columns: repeat(2, 1fr);
  }
}
