@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.itemsGrid {
  width: 100%;
  margin: $space-md auto $space-md;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @include respond-lg {
    grid-template-columns: repeat(3, 1fr);
    
  }

  @include respond-md {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-sm {
    grid-template-columns: repeat(2, 1fr);
  }
}
