@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.loadingWrapper {
  @include flex-vertical;
  min-height: 70vh;
}
.p{
  margin-top: -10px;
}
.loader {
  width: 200px;
  height: 200px;

  @include respond-sm {
    width: 140px;
    height: 140px;
  }
}
