@use "sass:color";
@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.categoryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $space-md $space-md 0;
  gap: $space-md;
  width: 100%;
  max-width: 280px;

  @include respond-md {
    padding: $space-sm;
    max-width: 100%;
  }
}

.imgTitle {
  gap: $space-sm;
  width: 100%;
  background-color: $white;
  border-radius: $radius-md $radius-xl;

  @include flex-vertical;
  @include card-hover-3d;
  @include card-shadow;
}

.categImg {
  width: 80%;
  height: 80%;
  max-height: 120px;
  object-fit: contain;
  padding-inline: 20px;
  @include respond-md {
    max-height: 80px;
    margin: 10px 0 15px;
  }
}

.categTitle {
  font-size: $font-md;
  font-weight: $weight-bold;
  color: $text-color;
  text-align: center;
  margin: 30px 0;

  @include respond-md {
    font-size: 12px;
    margin: 10px 0;
  }
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  gap: $space-md;
  margin-top: auto;
}

.icon {
  font-size: 1.2rem;
  color: $primary-color;
  cursor: pointer;
  transition: transform 0.2s ease;

  @include respond-md {
    font-size: 1rem;
  }

  &:hover {
    transform: scale(1.1);
    color: color.scale($primary-color, $lightness: -10%);
  }
}
