@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.searchBar {
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: $radius-md $radius-xl;
  padding: 2px $space-md;
  width: 100%;
  max-width: 450px;
  margin: 0px auto 20px;
  position: relative;

  @include flex-center;
  @include card-shadow;

  @include respond-sm {
    flex-direction: column;
    align-items: stretch;
    padding: $space-sm;
    gap: $space-sm;
  }
}

.inputField {
  flex: 1;
  height: 37px;
  border: none;
  outline: none;
  background-color: transparent;
  color: $text-color;
  direction: rtl;
  font-size: $font-md;
  padding: 0 $space-md 0 40px;
  transition: box-shadow 0.2s ease, border 0.2s ease;

  &::placeholder {
    color: $muted-text-color;
    font-size: $font-md;
    @include respond-md {
      font-size: $font-sm;
    }
  }

  @include respond-sm {
    height: 30px;
    padding: 0 10px 0 0;
    font-size: 14px;
  }
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  left: $space-md;
  top: 50%;
  transform: translateY(-50%);
  @include flex-center;

  @include respond-sm {
    left: 12px;
  }
}

.searchIcon {
  font-size: 1.2rem;
  color: $muted-text-color;

  @include respond-sm {
    font-size: 1rem;
  }
}

.centerWrapper {
  @include absolute-center;
  width: 100%;
  padding: $space-md;
}
