@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.categoryPage {
  padding:  0 $space-md $space-sm;

  @include respond-sm {
    padding: $space-md $space-sm;
  }
}

.pageTitle {
  @include section-title;
  margin-bottom: $space-lg;

  @include respond-sm {
    font-size: $font-md;
  }
}
.pageTitle {
  @include section-title;
  @include flex-center;

  margin: $space-lg auto;
  padding: $space-sm $space-md;
  border-bottom: 2px solid $primary-color;
  width: fit-content;
}


