@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.categoryPage {
  padding: $space-lg $space-sm;

  @include respond-sm {
    padding: $space-md $space-sm;
  }
}

.pageTitle {
  @include section-title;
  margin-bottom: $space-lg;

  @include respond-sm {
    font-size: $font-md;
  }
}
