@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.categoryPage {
  padding: 0 0 $space-sm;

  @include respond-sm {
    padding: 0;
  }
}
.pageTitle {
  @include section-title;
  @include flex-center;
  margin: $space-md auto;
  padding: $space-sm $space-md;
  border-bottom: 2px solid $primary-color;
  width: fit-content;

  @include respond-md {
    margin: $space-sm auto;
    font-size: $font-md;
  }
}
